[Desktop Entry]
Version=1.0
Type=Link
Name=EEPROM AT24C32
Comment=
Icon=user-bookmarks
URL=https://ww1.microchip.com/downloads/en/DeviceDoc/doc0336.pdf
