[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "FreeRTOS-Kernel"]
	path = FreeRTOS-Kernel
	url = https://github.com/raspberrypi/FreeRTOS-Kernel.git
[submodule "osal-rs"]
	path = osal-rs
	url = https://github.com/HiHappyGarden/osal-rs.git
[submodule "parser-rs"]
	path = parser-rs
	url = https://github.com/HiHappyGarden/at-parser-rs
