# Rust
**/target/
**/*.rs.bk
*.pdb
Cargo.lock

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
!cmake/*.cmake
!pico_sdk_import.cmake

# Build artifacts
/build/
/_build/
/out/

# IDE
.vscode/
.vscode_/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db


#C/C++
build
cmake-build*
documents/.$hw_scheme.drawio.dtmp
